@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  }

  * {
    box-sizing: border-box;
  }

  ::selection {
    background: rgb(99 102 241 / 0.15);
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(212 212 216);
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(161 161 170);
  }
}
